.clickable-row { 
	cursor: pointer;
}

#pokemon-img {
	position: absolute;
	width: 330px;
	height: 307px;
	left: 161px;
	top: 205px;
}

#pokemon-img-img {
	width: 330px;
	height: 307px;
}

#pokemon-background {
	position: absolute;
	width: 381px;
	height: 496px;
	left: 40px;
	top: 40px;
}

#pokemon-content-text {
	position: absolute;
	width: 588px;
	left: 608px;
	top: 300px;
}

.category {
	background-color: #EADEDA;
	padding: 4px;
	border-radius: 2px;
}

.poke-lst-container {
	margin-top: 580px;
}

.no-border-top {
	border-top: 0px !important;
}

.pokemon-icon {
	margin-top: -17px;
}

th {
	font-weight: lighter !important;
	border-top: 0px !important;
}

@font-face {
  font-family: Inter;
  src: url(font/inter.ttf);
}

h1 {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 34px;
	line-height: 41px;
	display: flex;
	align-items: center;
	letter-spacing: -0.02em;

	color: #000000;
}

body {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: -0.02em;

	color: #000000;
}